/*-------------------------------------------------------
30. About css 
---------------------------------------------------------*/

//Home 1

.about-left-content {
	position: relative;
	z-index: 1;
	.heading-1 {
		margin-bottom: 2rem;
	}
	p {
		margin-bottom: 3rem;
	}
}

.about-right {
	.heading-1 {
		margin-bottom: 3rem;
	}
	p {
		margin-bottom: 4rem;
	}
}

.about-btn-content {
    display: flex;
    align-items: center;
    gap: 3rem;
	.about-call {
		display: flex;
		align-items: center;
		gap: 2rem;
		.about-call-icon {
			i {
				height: 70px;
				width: 70px;
				line-height: 70px;
				text-align: center;
				border: 1px solid var(--clr-body);
				-webkit-border-radius: 50%;
				border-radius: 50%;
				display: inline-block;
			}
		}
		.about-call-text {
			span {
				display: block;
				margin-bottom: 5px;
				color: var(--clr-ccc);
			}
			h5 {
				
			}
		}
	}
}

.about-call-text.about-bb {
	span {
		color: var(--clr-heading)!important;
	}
}

.about-bg {
	position: absolute;
	z-index: -1;
	bottom: 0;
	right: 0;
}

.about-exper {
	.progress-box {
		margin-bottom: 20px;
		&:last-child {
			margin-bottom: 0;
		}
		h5 {
			display: flex;
			justify-content: space-between;
		}
		.progress-bar {
			background-color: var(--clr-def);
		}
	}
}

.promo-dg {
	span {
		color: var(--clr-ccc);
	}
}

//Home 2 about

.about-left-2 {
	.about-exper .progress-box .progress-bar {
		background-color: var(--clr-def-2);
	}
}

.about-right-wrp {
    padding: 80px 50px;
	.heading-3 {
		margin-bottom: 2rem;
		color: var(--clr-white);
	}
	.about-wrp-text {
		margin-bottom: 3rem;
		color: var(--clr-white);
	}
	.about-help-right {
		.heading-4 {
			color: var(--clr-white);
		}
		p {
			color: var(--clr-ccc);
			span {
				color: var(--clr-white);
				display: inline-block;
				font-weight: 700;
				padding-left: 8px;
			}
		}
	}
}

.about-corner-shape {
	position: absolute;
	top: 0;
	right: 0;
	z-index: -1;
}

.about-help-right {
	p {
		span {
			color: var(--clr-def-2);
			display: inline-block;
			font-weight: 700;
		}
	}
}

.about-help {
	gap: 20px;
}

.about-help-left {
	i {
		height: 90px;
		width: 90px;
		line-height: 90px;
		text-align: center;
		border-radius: 5px;
		background: var(--clr-def-3);
		display: inline-block;
	}
}

.about-help-right {
	h4 {
		margin-bottom: 5px;
	}
	p {
		margin-bottom: 0;
	}
}

