
/*-------------------------------------------------------
23.Footer css 
---------------------------------------------------------*/

/*footer Default*/

.footer {
	background: #111D30;
	p {
		color: var(--clr-ccc);
	}
}

.bg-map {
	position: absolute;
	z-index: -1;
	top: 50%;
	left: 50%;
	translate: -50% -50%;
}

//About Bio

.footer-bio {
	display: flex;
	align-items: center;
	gap: 1.5rem;
	.footer-bio-text {
		h6 {
			text-transform: capitalize;
			margin-bottom: 5px;
			color: var(--clr-white);
		}
		span {
			display: block;
			line-height: 1;
			color: var(--clr-body-2);
			font-size: 1.6rem;
		}
	}
}

//Footer Title

.footer-widget-title {
    font-weight: 600;
    color: var(--clr-white);
	margin-bottom: 4rem;
	padding-bottom: 2rem;
	position: relative;
	z-index: 1;
	.footer-title-line {
		width: 4rem;
		height: 1px;
		position: absolute;
		bottom: 0;
		left: 0;
		translate: 0 -50%;
		z-index: 1;
		background-color: var(--clr-white);
		&::before {
			@include pos-abs(var(--clr-white),1px,30px,1);
			top: 5px;
			left: 0;
		}
		&::after {
			@include pos-abs(var(--clr-white),1px,20px,1);
			top: 10px;
			left: 0;
		}
	}
}

//Footer About Logo

.footer-logo {
	img {
		height: 60px;
		display: block;
	}
	p {
		
	}
}

//Footer About Us

.about-us {
	p {
		margin-bottom: 3rem;
		padding-bottom: 3rem;
		border-bottom: 1px solid #707070;
	}
}

//Footer List

.footer-list {
	display: flex;
	flex-direction: column;
	gap: 1.5rem;
	li {
		a {
			display: flex;
			align-items: center;
			gap: 5px;
			color: var(--clr-body-2);
			i {
				font-size: 1.4rem;
			}
		}
	}
}

//Footer Hours

.footer-hours {
	display: flex;
	flex-direction: column;
	gap: 1.5rem;
	li {
		display: flex;
		align-items: center;
		justify-content: space-between;
		span {
			color: var(--clr-body-2);
			display: inline-block;
		}
	}
}

//Footer Recent Post

.footer-recent-post {
	border-right: 1px solid #707070;
	padding: 0 0 0 3rem;
    margin-right: 3rem;
}

.footer-recent-post-single {
    display: grid;
    gap: 2rem;
    align-items: center;
    grid-template-columns: 80px 1fr;
	margin-bottom: 2rem;
	&:last-child {
		margin-bottom: 0;
	}
	.recent-post-pic {
		img {
			border-radius: 5px;
		}
	}
	.recent-post-desc {
		h5 {
			color: #FAFAFA;
			font-size: 16px;
			line-height: 1.5;
			font-weight: 600;
			margin-bottom: 0;
		}
		.recent-post-date {
			font-size: 15px;
			line-height: 1;
			color: var(--clr-ccc);
			margin-bottom: 5px;
		}
	}
}

//Social Icon

.footer-social {
    display: flex;
    align-items: center;
    gap: 2rem;
	li {
		a {
			i {
				display: inline-block;
				height: 4.5rem;
				width: 4.5rem;
				line-height: 4.5rem;
				text-align: center;
				-webkit-border-radius: 50%;
				border-radius: 50%;
				color: var(--clr-white);
				transition: all .5s ease;
				background-color: var(--clr-def);
				&:hover {
					background-color: var(--clr-sec);
				}
			}
		}
	}
}

//Subscribe

.subscribe-area {
	form {
		display: flex;
		align-items: center;
		position: relative;
		z-index: 1;
		.input-style-4 {
			width: 100%;
			background-color: var(--clr-white);
			padding: 8px 1.5rem 8px 2rem;
			color: var(--clr-heading);
			outline: none;
			border: none;
			border-radius: 5px 0 0 5px;
			height: 60px;
			&:focus {
				outline: none;
				box-shadow: none;
				border: none;
			}
			&::placeholder {
				color: var(--clr-heading);
				font-size: 1.4rem;
			}
		}
		.btn-subs {
			outline: none;
			box-shadow: none;
			border: none;
			background-color: var(--clr-def);
			font-size: 1.6rem;
			color: var(--clr-white);
			width: 75px;
			height: 62px;
			position: relative;
			z-index: 1;
			border-radius: 0 5px 5px 0;
		}
	}
}


.footer-subs {
	.about-call {
		margin-bottom: 30px;
		.about-call-text {
			span {

			}
			h5 {
				color: var(--clr-white);
			}
		}
	}
}

//Copyright

.copyright {
	.copyright-element {
		padding: 3rem 0;
		border-top: 1px solid #707070;
		position: relative;
		z-index: 1;
		&::before {
			@include pos-abs(var(--clr-def),1px,5rem,1);
			top: -1px;
			left: 0;
		}
		&::after {
			@include pos-abs(var(--clr-def),1px,5rem,1);
			top: -1px;
			right: 0;
		}
	}
}