
/*-------------------------------------------------------
31. Price css
---------------------------------------------------------*/

.price-box {
	position: relative;
	z-index: 1;
	&:hover {
		.price-box-content {
			&::before {
				background: var(--clr-def-2);
			}
			.price-2 {
				bottom: 0px;
			}
		}
		.price-up {
			p {
				color: var(--clr-white);
			}
			h2 {
				color: var(--clr-heading);
				background: var(--clr-white);
				span {
					color: var(--clr-heading);
				}
			}
		}
		.price-list {
			padding: 3rem;
			li {
				color: var(--clr-white);
			}
		}
		.price-btn {
			color: var(--clr-heading);
			background: var(--clr-white);
		}
	}
}

.price-box-content {
	background: var(--clr-white);
	box-shadow: 0 5px 40px rgba(0,0,0,.08);
	border-radius: 10px;
	transition: all .5s ease;
	position: relative;
	z-index: 1;
	overflow: hidden;
	padding: 5rem 0 5rem 0;
	&::before {
		@include pos-abs(var(--clr-white),100%,100%,1);
		top: 0;
		left: 0;
		transition: all .5s ease;
	}
}

.price-1 {
	position: absolute;
	top: 0;
	right: 0;
	z-index: -1;
	width: 120px;
}

.price-2 {
    position: absolute;
    bottom: -140px;
    left: 0;
    z-index: -1;
    width: 248px;
	transition: all .5s ease;
}

.price-back {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: -2;
}

.price-up {
	transition: all .5s ease;
	p {
		font-size: 24px;
		margin-bottom: 30px;
		color: var(--clr-def-2);
		line-height: 1;
		padding-left: 3rem;
	}
	h2 {
		font-weight: 800;
		margin-bottom: 0px;
		line-height: 1;
		background: var(--clr-def-2);
		padding: 2rem 3rem;
		color: var(--clr-white);
		span {
			font-size: 16px;
			line-height: 1;
		}
	}
}

.price-list {
	padding: 3rem;
	li {
		display: flex;
		align-items: center;
		gap: 1rem;
		margin-bottom: 15px;
		&:last-child {
			margin-bottom: 0;
		}
	}
}

.price-btn {
	padding: 2rem 4rem;
	color: var(--clr-white);
	font-weight: 700;
	line-height: 1;
	background: var(--clr-gradient-5);
	display: inline-block;
	width: 100%;
	text-align: center;
	border-radius: 5px;
	transition: all .5s ease;
}

.price-bottom {
	margin: 0 3rem;
}