/*-------------------------------------------------------
26. Service CSS 
---------------------------------------------------------*/


.service-box {
    background-color: var(--clr-white);
	box-shadow: 0px 10px 32px #00000012;
	border-radius: 10px;
	position: relative;
	z-index: 1;
	overflow: hidden;
	padding: 5rem 3rem;
	&:hover {
		&::before {
			width: 100%;
		}
		.service-icon {
			i {
				color: var(--clr-white);
			}
		}
		.service-desc {
			h4 {
				color: var(--clr-white);
			}
			p {
				color: var(--clr-white);
			}
		}
		.btn-text {
			color: var(--clr-white);
			border: 1px solid var(--clr-white);
		}
	}
	&::before {
		@include pos-abs(var(--clr-def),100%,0%,1);
		top: 0;
		left: 0;
		transition: all .5s ease;
	}
	.service-icon {
		margin-bottom: 2rem;
		line-height: 1;
		i {
			position: relative;
			z-index: 1;
			color: var(--clr-black);
			display: inline-block;
			line-height: 10px;
			width: 90px;
			margin-bottom: 2rem;
			height: 90px;
		}
	}
	.service-desc {
		h4 {
			font-size: 2rem;
		}
		p {
			margin-bottom: 2rem;
		}
	}
}

.service-shape {
	position: absolute;
    z-index: -1;
    top: -1px;
    right: -2px;
    opacity: 1;
	width: 40%;
}

.service-wavy {
	position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
	translate: -50% -50%;
    opacity: .6;
}

.service-bt {
	margin-top: 3rem;
	transition: all .5s ease;
	transition-delay: .6s;
}

.service-btn {
	font-size: 15px;
	font-weight: 600;
	display: inline-block;
	color: rgba(255,255,255,.7);
	position: relative;
	z-index: 1;
	padding-left: 5rem;
	letter-spacing: 1px;
	&::before {
		@include pos-abs(var(--clr-white),1px,4rem,.7);
		top: 50%;
		translate: 0 -50%;
		left: 0;
		transition: all .5s ease;
	}
}

//Service 2


.service-box-2 {
	position: relative;
    z-index: 1;
    padding: 90px 30px 30px 30px;
    border-radius: 20px;
    box-shadow: 0 6px 35px rgba(0, 0, 0, 0.05);
	background: var(--clr-white);
    text-align: center;
	&:hover {
		background: var(--clr-def-2);
		.service-icon-2 {
			i {
				color: var(--clr-heading);
				span {
					background: var(--clr-white);
					border: 3px solid var(--clr-def-2);
					animation: round-move 5s linear infinite;
					&::after {
						background: var(--clr-def-2);
						border: 2px solid var(--clr-white);
					}
				}
			}
		}
		.service-desc-2 {
			h4 {
				color: var(--clr-white);
			}
			p {
				color: var(--clr-white);
			}
		}
	}
	.service-icon-2 {
		i {
			height: 120px;
			width: 120px;
			line-height: 130px;
			text-align: center;
			border-radius: 50%;
			position: absolute;
			z-index: 1;
			top: -60px;
			left: 50%;
			translate: -50% 0;
			font-size: 5rem;
			border: 3px solid transparent;
			color: var(--clr-white);
			transition: all .5s ease;
			span {
				position: absolute;
				top: 0;
				left: 0;
				height: 100%;
				width: 100%;
				display: inline-block;
				background: var(--clr-def-2);
				border-radius: 50%;
				transition: all .5s ease;
				z-index: -1;
				&::after {
					height: 22px;
					width: 22px;
					background: var(--clr-white);
					border: 2px solid var(--clr-def-2);
					border-radius: 50%;
					position: absolute;
					top: 10px;
					right: 0;
					content: '';
				}
			}
		}
	}
	.service-desc-2 {
		h4 {
			margin-bottom: 2rem;
		}
		p {
			margin-bottom: 0;
		}
	}
}

.service-wpr-2 {
    grid-row-gap: 10rem;
	margin-top: 6rem;
}