/*-------------------------------------------------------
42. Benefit css 
---------------------------------------------------------*/

.solve-text-white {
	.heading-1 {
		color: var(--clr-white);
		margin-bottom: 2rem;
	}
	p {
		color: var(--clr-ccc);
		margin-bottom: 4rem;
	}
}

.solve-main-pic {
	-webkit-border-radius: 50%;
    border-radius: 50%;
}

.solve-shape {
    position: absolute;
    z-index: 1;
    bottom: 0px;
    left: 0;
    height: 300px;
}

.solve-circle {
	position: absolute;
    z-index: -1;
    top: -400px;
    right: -400px;
    height: 630px;
    width: 630px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    border: 1px solid var(--clr-white);
    display: inline-block;
	&::before {
		position: absolute;
		z-index: -1;
		top: -45px;
		right: 45px;
		content: '';
		height: 630px;
		width: 630px;
		-webkit-border-radius: 50%;
		border-radius: 50%;
		border: 1px solid var(--clr-def);
	}
}

.solve-rang {
	position: absolute;
    z-index: -1;
    bottom: -20px;
    left: -150px;
    height: 400px;
    width: 400px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    border: 1px solid var(--clr-white);
    rotate: 45deg;
	&::before {
		position: absolute;
		content: '';
		z-index: -1;
		top: -60px;
		left: -210px;
		height: 400px;
		width: 400px;
		-webkit-border-radius: 50px;
		border-radius: 50px;
		border: 1px solid var(--clr-white);
	}
}

.solve-opt-wpr {
	display: flex;
	flex-direction: column;
	gap: 3rem;
}

.solve-opt-single {
	display: flex;
	align-items: center;
	gap: 3rem;
	.heading-4 {
		text-transform: capitalize;
		margin-bottom: 2rem;
		color: var(--clr-white);
	}
	.solve-opt-icon {
		i {
			height: 8rem;
			width: 8rem;
			line-height: 8rem;
			text-align: center;
			color: var(--clr-white);
			font-size: 3.5rem;
			transform: rotate(45deg);
			position: relative;
			z-index: 1;
			&::after {
				@include pos-abs(var(--clr-def),100%,100%,1);
				top: 0;
				left: 0;
				transform: rotate(-45deg);
				border-radius: 50% 0 50% 50%;
			}
		}
	}
}

//ProgressBar

.solve-progress {
	.progress-box {
		margin-bottom: 3rem;
		.chart {
			height: 200px;
			width: 200px;
			position: relative;
			display: inline-block;
			span {
				position: absolute;
				height: 170px;
				width: 170px;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				display: block;
				border-radius: 50%;
				text-align: center;
				font-size: 2.2rem;
				font-weight: 700;
				background: var(--clr-white);
				color: var(--clr-heading);
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: center;
				b {
					font-size: 1.4rem;
					font-weight: 400;
				}
			}
		}
	}
}