/*-------------------------------------------------------
37. Step css
---------------------------------------------------------*/

.step-left {
	img {
		border-radius: 10px;
	}
}


.step-desc {
	display: grid;
    align-items: flex-start;
    grid-template-columns: 79px 1fr;
    grid-gap: 3rem;
}

.step-desc-left {
	position: relative;
	z-index: 1;
	display: inline-block;
	&:hover {
		.step-desc-value {
			background-color: var(--clr-sec);
			color: var(--clr-white);
		}
	}
	.step-desc-value {
		height: 50px;
		width: 50px;
		line-height: 50px;
		text-align: center;
		font-size: 24px;
		font-weight: 700;
		background-color: var(--clr-white);
		color: var(--clr-def);
		border-radius: 50%;
		position: absolute;
		top: 50%;
		left: 50%;
		translate: -50% -50%;
		display: inline-block;
	}
}

.step-up {
	margin-bottom: 3rem;
}

.step-list {
	display: flex;
	flex-direction: column;
	gap: 2rem;
}

.step-desc-right {
	h4 {
		margin-bottom: 1rem;
	}
}

.arrow-bend {
    position: absolute;
    bottom: -35px;
    left: 45%;
}
