/*-------------------------------------------------------
35. Team css 
---------------------------------------------------------*/

.team-box {
	position: relative;
	z-index: 1;
	&:hover {
		.team-social {
			transform: translate(-50%, -80px);
		}
	}
	.team-pic {
		position: relative;
		z-index: 1;
		overflow: hidden;
		padding-bottom: 4rem;
		.team-main-pic {
			width: 100%;
		}
		.team-shape-btm {
			position: absolute;
			bottom: 18px;
			left: 0;
			z-index: -1;
			width: 100%;
		}
	}
	.team-desc {
		text-align: center;
		h4 {
			margin-bottom: 0;
			text-transform: capitalize;
		}
	}
}

.pls {
	position: absolute;
	bottom: 25px;
	left: 50%;
	transform: translate(-50%, 0);
	height: 40px;
	width: 40px;
	line-height: 40px;
	text-align: center;
	background: var(--clr-def);
	color: var(--clr-white);
	-webkit-border-radius: 50%;
	border-radius: 50%;
	transition: all .5s ease;
	font-size: 18px;
}

.team-social {
	position: absolute;
	bottom: 0;
	left: 50%;
    display: flex;
    gap: 1rem;
	flex-direction: column;
	transform: translate(-50%, 500px);
	transition: all .5s ease;
	li {
		a {
			i {
				height: 40px;
				width: 40px;
				line-height: 40px;
				text-align: center;
				background-color: var(--clr-white);
				color: var(--clr-def);
				-webkit-border-radius: 50%;
				border-radius: 50%;
				transition: all .5s ease;
				font-size: 18px;
				&:hover {
					background-color: var(--clr-sec);
					color: var(--clr-white);
				}
			}
		}
	}
} 

//Team 2

.team-box-2 {
	text-align: center;
	&:hover {
		.team-pic-2 {
			.team-2-main {
				background: var(--clr-white);
				border: 25px solid var(--clr-def-2);
			}
			.team-social-2 {
				transform: translate(-50%, -80px);
			}
		}
	}
	.team-pic-2 {
		position: relative;
		z-index: 1;
		margin-bottom: 3rem;
		overflow: hidden;
		.team-2-main {
			border-radius: 50%;
			background: var(--clr-def-2);
			padding: 5px;
			border: 25px solid var(--clr-bg);
			transition: all .5s ease;
		}
		.team-2-shape {
			position: absolute;
			bottom: -1px;
			left: 50%;
			transform: translate(-50%, 0);
			width: 287px;
		}
	}
	.team-desc-2 {
		span {
			display: block;
			text-transform: uppercase;
			font-size: 1.4rem;
		}
		h4 {
			text-transform: capitalize;
		}
	}
}

.plss {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translate(-50%, 0);
    height: 40px;
    width: 40px;
    line-height: 40px;
    text-align: center;
    background: var(--clr-def-2);
    color: var(--clr-white);
    -webkit-border-radius: 50%;
    border-radius: 50%;
    transition: all .5s ease;
    font-size: 18px;
}

.team-social-2 {
    position: absolute;
    bottom: 0;
    left: 50%;
    display: flex;
    gap: 1rem;
    flex-direction: column;
    transform: translate(-50%, 500px);
    transition: all .5s ease;
	li {
		a {
			i {
				height: 40px;
				width: 40px;
				line-height: 40px;
				text-align: center;
				background-color: var(--clr-white);
				color: var(--clr-def-2);
				-webkit-border-radius: 50%;
				border-radius: 50%;
				transition: all .5s ease;
				font-size: 18px;
				&:hover {
					background-color: var(--clr-sec);
					color: var(--clr-white);
				}
			}
		}
	}
}
