/*-------------------------------------------------------
28. Why css 
---------------------------------------------------------*/

.choose-box {
	border-radius: 10px;
	background-color: var(--clr-white);
	box-shadow: 0 10px 32px rgba(0,0,0,.15);
	padding: 5rem 3rem;
	position: relative;
	z-index: 1;
	overflow: hidden;
	i {
		width: 86px;
		height: 86px;
		line-height: 86px;
		text-align: center;
		background-color: var(--clr-bg);
		color: var(--clr-def);
		border-radius: 0 1rem 0 0;
		display: block;
		margin-bottom: 2rem;
		font-size: 35px;
		border-radius: 50%;
	}
	h4 {
		text-transform: capitalize;
		margin-bottom: 2rem;
	}
	p {
		margin-bottom: 3rem;
	}
}

.choose-btn {
	color: var(--clr-def);
	font-weight: 700;
}

.choose-shape {
	position: absolute;
	z-index: -1;
	top: -1px;
    right: -1px;
	transition: all .5s ease;
}

.choose-bg {
	position: absolute;
	z-index: -1;
	top: -70px;
	right: 0;
}








